.logo {
  text-decoration: none;
  color : var(--theme--dark--solids);

}

.logo_container {
  padding-right: 5px; 
}

.logo_image {
width: 100px;
height: auto;
}

.greenfrogTitle {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: var(--heading2);
  font-weight: 900;
  color: var(--theme---primary---solids);
}

h1 {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: var(--small--text);
  color: var(--theme--dark--solids);
}

.greenfrogExplain {
  color: var(--theme---primary---solids);
}

li {
  list-style: none;
  float: left;
}
.li {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: var(--heading3);
  font-weight: bold;

  color: var(--theme--dark--solids); 
  padding: 8px 32px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s; 
}

.li:hover {
  color: var(--theme---primary---solids); 
  background-color: transparent;
}

.navbar {
  padding-top: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-togglebtn{
  display: none;
  cursor: pointer;
  border: none;
}

.navbar-icon{
  width: 20px;
  height: 20px;
  background-image: url(../component/buttonfile/menu.svg);
  background-size: cover;
}
.navbar-icon:active {
  background-image: url(../component/buttonfile/menu-selected.svg);
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width : 1190px){
  .logo{
    display: flex;
    flex-direction: row;
  }
  .logo_image{
    width: 65px;
    height: auto;
  }
  .greenfrogTitle{
    align-items: center;
  }
  .greenfrogLetter{
    font-size: 0px;
  }
  .navbar {
    gap: 15px;
  }
  .li {
    font-size: var(--large-button-size);
    font-weight: 800;
    padding-right: 5px;
  }
}
@media screen and (max-width : 846px) {
  .logo{
    display: flex;
    flex-direction: row;
  }
  .logo_image{
    width : 50px;
    height : auto;
  }
  .greenfrogTitle {
    align-items: center;
  }
  .greenfrogLetter{
    font-size: 0px;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  .li{
    font-size: 10px;
    padding: 5px;
  }
}
