.introduce_container .menu {
    display: flex;
    flex-direction: row; /* 가로로 정렬 */
}

.Searchbar {
    width: 240px;
    height: 50px;
}

.Searchtype {
    width: 147px;
    height: 50px;
}

.WriteButton {
    width: 147px;
    height: 62px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
    color: var(--text---body---dark); /* 변수 적용 */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.heading3 {
    font-size: 20px; /* heading3 스타일 적용 */
    color: var(--text---body---dark); /* 변수 적용 */
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center; /* 가로로 중앙 정렬 */
    margin-top: 20px; /* 페이지네이션과 위 요소 간의 간격 조정 */
}

.pagination button {
    margin: 0 5px; /* 버튼 사이의 간격 조정 */
}